@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e76f51;
  --primary-light: #c78c7d;
  --primary-dark: #e24d28;
  --secondary: "#38bdf8";

  --primaryText-light: "#0f172a";
  --primaryText-dark: "#e2e8f0";

  --secondaryText-light: "#0f172a";
  --secondaryText-dark: "#a0aec0";

  --background-main: #252c48;
  --background-light: #394264;
  --background-accent: #011627;
}

.dahsboardLeft__navigation * {
  user-select: none !important;
}

.asfa {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
