@tailwind components;

@layer components {
  /* Custom Classes */

  .divider::before {
    height: 2px;
    background: gray;
    width: 20px;
  }

  .font-primary {
    font-family: "Inter", "Roboto", sans-serif;
  }

  .color-primary {
    color: var(--primary);
  }

  .color-primary-dark {
    color: var(--primary-dark);
  }

  .color-primary-light {
    color: var(--primary-light);
  }

  /* Buttons */

  .small-button {
    @apply px-6 py-2;
  }

  .medium-button {
    @apply px-8 py-3.5;
  }

  .primary-button-custom {
    @apply rounded-md shadow-md font-medium transition duration-200 hover:shadow-lg active:scale-90 cursor-pointer select-none;
  }

  .primary-button {
    @apply primary-button-custom medium-button bg-[#e76f51] text-white hover:bg-[#e24d28];
  }

  .primary-button-small {
    @apply primary-button-custom small-button bg-[#e76f51] text-white hover:bg-[#e24d28];
  }

  .secondary-button {
    @apply primary-button-custom bg-[#e76f510e] border-[#e24d28] border-2 text-gray-800 hover:bg-[#e76f51] hover:text-white hover:border-[#e76f51];
  }

  .text-button {
    @apply px-5 py-2 rounded-md bg-transparent hover:bg-gray-300 transition duration-150 text-gray-800 cursor-pointer;
  }

  /* Headings */

  .primary-heading {
    @apply text-4xl tracking-tight font-extrabold text-gray-700 sm:text-5xl md:text-6xl;
  }

  .secondary-heading {
    @apply text-xl tracking-tight font-bold text-gray-700 sm:text-2xl md:text-4xl;
  }

  .tertiary-heading {
    @apply text-xl text-gray-700;
  }

  /* Text */

  .text {
    @apply text-[16px] text-gray-800;
  }

  .text-semibold {
    @apply text-[16px] font-semibold text-gray-800;
  }

  .text-bold {
    @apply text-[16px] font-bold text-gray-800;
  }

  /* Links */

  .link {
    @apply cursor-pointer font-medium text-gray-500 hover:text-gray-900 flex items-center;
  }

  .link-bold {
    @apply hover:underline cursor-pointer text-[14px] font-bold text-gray-800;
  }

  .link-semibold {
    @apply hover:underline cursor-pointer text-[14px] font-semibold text-gray-800;
  }

  /* Input */

  .input {
    @apply py-3 px-3 my-3 rounded-md text-gray-500 placeholder-gray-400 border-2 outline-none;
  }

  /* icon */

  .icon {
    @apply text-gray-500;
  }
}
